#### Imputing & Adding Newly Created Variables to Testing Data

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
print(os.listdir("../input"))
print(os.listdir("../input/rossmann-store-sales"))

In [ ]:
types = {'CompetitionOpenSinceYear': np.dtype(int),
         'CompetitionOpenSinceMonth': np.dtype(int),
         'StateHoliday': np.dtype(str),
         'Promo2SinceWeek': np.dtype(int),
         'SchoolHoliday': np.dtype(float),
         'PromoInterval': np.dtype(str)}
training = pd.read_csv("../input/exploratory-analysis/training.csv", dtype = types)
test = pd.read_csv("../input/rossmann-store-sales/test.csv",parse_dates=[3], dtype = types)
train = pd.read_csv("../input/rossmann-store-sales/train.csv", parse_dates=[2], dtype=types)
store = pd.read_csv("../input/rossmann-store-sales/store.csv")

#### Filling in Missing Values

In [52]:
import numpy
from sklearn.base import TransformerMixin

#filling in missing data
test.fillna(test.median(), inplace=True)
print(test.isnull().sum())

# fill missing num values with median column values
store.fillna(store.median(), inplace=True)

# class to impute categorical variables
class SeriesImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        If the Series is of dtype Object, then impute with the most frequent object.
    
        """
    def fit(self, X, y=None):
        if   X.dtype == numpy.dtype('O'): self.fill = X.value_counts().index[0]
        return self

    def transform(self, X, y=None):
       return X.fillna(self.fill)

a  = SeriesImputer()   # Initialize the imputer
a.fit(store['PromoInterval'])  # Fit the imputer
store['PromoInterval'] = a.transform(store['PromoInterval'])  

testing = pd.merge(test, store, on='Store')

          Id  Store        ...         Promo2SinceYear     PromoInterval
0          1      1        ...                  2012.0   Jan,Apr,Jul,Oct
1        857      1        ...                  2012.0   Jan,Apr,Jul,Oct
2       1713      1        ...                  2012.0   Jan,Apr,Jul,Oct
3       2569      1        ...                  2012.0   Jan,Apr,Jul,Oct
4       3425      1        ...                  2012.0   Jan,Apr,Jul,Oct
5       4281      1        ...                  2012.0   Jan,Apr,Jul,Oct
6       5137      1        ...                  2012.0   Jan,Apr,Jul,Oct
7       5993      1        ...                  2012.0   Jan,Apr,Jul,Oct
8       6849      1        ...                  2012.0   Jan,Apr,Jul,Oct
9       7705      1        ...                  2012.0   Jan,Apr,Jul,Oct
10      8561      1        ...                  2012.0   Jan,Apr,Jul,Oct
11      9417      1        ...                  2012.0   Jan,Apr,Jul,Oct
12     10273      1        ...                  2012.0   Jan,Apr,Jul,Oct
13     11129      1        ...                  2012.0   Jan,Apr,Jul,Oct
14     11985      1        ...                  2012.0   Jan,Apr,Jul,Oct
15     12841      1        ...                  2012.0   Jan,Apr,Jul,Oct
16     13697      1        ...                  2012.0   Jan,Apr,Jul,Oct
17     14553      1        ...                  2012.0   Jan,Apr,Jul,Oct
18     15409      1        ...                  2012.0   Jan,Apr,Jul,Oct
19     16265      1        ...                  2012.0   Jan,Apr,Jul,Oct
20     17121      1        ...                  2012.0   Jan,Apr,Jul,Oct
21     17977      1        ...                  2012.0   Jan,Apr,Jul,Oct
22     18833      1        ...                  2012.0   Jan,Apr,Jul,Oct
23     19689      1        ...                  2012.0   Jan,Apr,Jul,Oct
24     20545      1        ...                  2012.0   Jan,Apr,Jul,Oct
25     21401      1        ...                  2012.0   Jan,Apr,Jul,Oct
26     22257      1        ...                  2012.0   Jan,Apr,Jul,Oct
27     23113      1        ...                  2012.0   Jan,Apr,Jul,Oct
28     23969      1        ...                  2012.0   Jan,Apr,Jul,Oct
29     24825      1        ...                  2012.0   Jan,Apr,Jul,Oct
...      ...    ...        ...                     ...               ...
41058  16264   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41059  17120   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41060  17976   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41061  18832   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41062  19688   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41063  20544   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41064  21400   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41065  22256   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41066  23112   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41067  23968   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41068  24824   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41069  25680   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41070  26536   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41071  27392   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41072  28248   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41073  29104   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41074  29960   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41075  30816   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41076  31672   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41077  32528   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41078  33384   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41079  34240   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41080  35096   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41081  35952   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41082  36808   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41083  37664   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41084  38520   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41085  39376   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41086  40232   1115        ...                  2012.0  Mar,Jun,Sept,Dec
41087  41088   1115        ...                  2012.0  Mar,Jun,Sept,Dec

[41088 rows x 17 columns]

#### Adding Newly Created Variables

In [58]:
# dates breakdown
testing['Date'] = pd.to_datetime(testing['Date'])
testing['Day_of_Week'] = testing['Date'].dt.day_name()

testing['Date'] = pd.to_datetime(testing['Date'])
testing['Month'] = testing['Date'].dt.strftime('%b')

# competition dates
testing["CompOpenDate"] = testing["CompetitionOpenSinceYear"].astype(str) + testing["CompetitionOpenSinceMonth"].astype(str) + '1'
testing['CompOpenDate'] = pd.to_datetime(testing['CompOpenDate'])

def check_Comp(row):
    if row["Date"] >= row["CompOpenDate"]:
        return "1"
    else:
        return "0"
    
def num_days_comp(row):
    return row['Date'] - row['CompOpenDate']

testing = testing.assign(daysSinceNewComp=testing.apply(num_days_comp, axis=1))
testing['daysSinceNewComp'] = testing['daysSinceNewComp'].dt.days
testing = testing.assign(isCompOpen=testing.apply(check_Comp, axis=1))

# Competition Distance
def comp_dist(row):
    if row["CompetitionDistance"] <= 710: # min to first quartile
        return "bin1"
    elif row["CompetitionDistance"] > 710 and row["CompetitionDistance"] <= 2325 : # first quartile to second quartile
        return "bin2"
    elif row["CompetitionDistance"] > 2325 and row["CompetitionDistance"] <= 6880 : # second quartile to third quartile
        return "bin3"
    elif row["CompetitionDistance"] > 6880 and row["CompetitionDistance"] <= 75860 : # third quartile to max
        return "bin4"

testing = testing.assign(compDistanceBin=testing.apply(comp_dist, axis=1))

(1017209, 24)

In [59]:
training.shape

(1017209, 24)

In [60]:
testing.shape

(41088, 23)

In [61]:
testing.to_csv("testing.csv", index=False)

As expected, the # of columns match, except by one, since the testing data won't include # of customers.